*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.nav-bar {
    display: flex;
    float: right;
    list-style: none;
    padding: 2rem;
}

.nav-item:not(:last-child) {
    margin-right: 1.5rem;
}


.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}