*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    width: 100vw;
}

.nav-bar {
    display: flex;
    float: right;
    list-style: none;
    padding: 2rem;
}

.nav-item:not(:last-child) {
    margin-right: 1.5rem;
}

img {
    transform: scale(.95);
    margin-bottom: -2rem;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.space {
    margin-bottom: 3rem;
}

input[type="search"] {
    padding: 1.2rem;
    border-radius: 3rem;
    border: 1px solid #d1d0d0;
    outline: none;
    box-shadow: none;
    width: 55rem;
}

button {
    padding: .6rem 2rem;
    color: #575757;
    background-color: #F2F2F2;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 5px;
    border: 1px solid #F2F2F2;

}

.languages {
    display: flex;
    font-size: 1.3rem;
}

p {
    margin-right: 1rem;
}

.language-list {
    display: flex;
    list-style: none; 
}

.language-list__item:not(:last-child) {
    padding-right: 1rem;
}

a {
    text-decoration: none;
    
}

li {
    list-style: none;
}

footer {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* left: 0; */
    bottom: 0;
    position: fixed;
    width: 100%;
    height: max-content;
    font-size: 1.4rem;
}

footer a {
    color: #686868;
}

.top-foot {
    padding: 1rem 1rem 1rem 3rem;
    background-color: #F2F2F2;
    border-top: 1px solid #dbdbdb;
    color: #929191;
}

.bottom-foot {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: #F2F2F2;
    border-top: 1px solid #dbdbdb;
}

.bottom-foot:not(:last-child) {
    margin-right: 20rem;
}

.left {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;

}

.left-item {
    padding: 1rem .1rem 1rem 3rem;
}

.right  {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-right: 3rem;
}

.right-item {
    padding: 1rem .1rem 1rem 3rem;   
}

